/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/
.slide-without-effect:before {
    background: rgba(0, 0, 0, 0.1);
}

.services-section {
    background: url(../img/services.jpg) no-repeat;
    background-size: cover;
}
.reviews-section {
    background: url(../img/custumer-review.jpg) no-repeat;
    background-size: cover;
}

.services-section:before,
.reviews-section:before {
    background-color: #1c2235;
}
.contact-widget-content ul li a {
    margin-left: 10px;
}
.single-service {
    min-height: 300px;
    cursor: pointer;
}
.single-service svg.svg-inline--fa {
    margin-bottom: 0;
}
.map-wrapper {
    height: 400px;
}
.contact_map {
    border: 1px solid;
    padding: 3px;
}
.about-p {
    text-align: center;
}
.btn:after {
    background-color: #2e5ae8;
}
.header-call span {
    white-space: nowrap;
}
.service-details ul li {
    width: auto;
}
.channels-btn {
    border-radius: 10px;
    background-color: #2e5ae8;
    color: white;
    white-space: nowrap;
    margin: 30px 0;
}
.navbar-brand img {
    width: 150px;
}
ul.navbar-nav {
    width: 100%;
}
ul.navbar-nav li {
    margin: 10px 0;
}
ul.navbar-nav li:last-child {
    margin-left: auto;
}
.slide-content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 100;
    padding-top: 40px;
}
.slide-content-inner h2,
.slide-content-inner h4 {
    text-align: center;
    width: 100%;
}
.slide-content-inner a {
    margin-top: auto;
    margin-bottom: 100px;
}

.single-package a {
    color: white !important;
}
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-body a {
    padding: 10px;
}
sup {
    font-family: sans-serif !important;
}
.card-holder-row {
    margin-top: -40px;
}
.card-holder {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 500;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    max-width: 50vw;
    max-height: 30vh;
    background-color: #00529e;
    border: 5px solid white;
    border-radius: 20px;
    color: white;
}
.card:hover {
    cursor: pointer;
    background-color: white;
    color: #00529e;
    border-color: #00529e;
}
.card a,
.card h1,
.card svg {
    color: inherit;
}
.card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card svg {
    font-size: 55px;
}

@media (max-width: 1199.98px) {
    .swiper-container {
        height: 80vh;
    }
}
@media (max-width: 992.98px) {
    .swiper-container {
        height: 60vh;
    }
    .slide-content-inner h2 {
        font-size: 1.5rem;
    }
    .card-holder-row {
        margin-top: 20px;
    }
}
@media (max-width: 575.98px) {
    .swiper-container {
        height: 50vh;
    }
}
